@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: scroll;
    overflow-x: hidden;
    background-color: #f6f6f6;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}
/*
input:checked + label div {
    border-color: black;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}*/
